body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #1e90ff, #943ce6, #87cefa);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
